* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.page {
  width: 100%;
}
.login {
  width: 200px;
  height: 100px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -100px;
  margin-top: -50px;
  z-index: 6;
}
.modal {
  z-index: 5;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.cat {
  position: fixed;
  background: url("../img/cat.png");
  right: 0;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
}
.cat-up {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 50px;
  margin-left: 20px;
  z-index: 1;
}
