body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.list {
  background-color: skyblue;
  margin-inline-start: 100px;
  width: 200px;
  height: 20px;
  padding: 0;
  overflow: hidden scroll; /* 添加此行 */
  position: relative; /* 添加此行 */
  transition: scrollTop 0.3s ease;
}
li {
  height: 20px;
}
